<div class="container">

	<div class="col-md-12">
		<img src="/assets/img/burger.png" alt="burger" class="img-responsive center-block">
	</div>

	<div class="row">

		<div class="col-md-12">
			<h1 class="text-center text-danger headline"> *--Eat-Da-Burger--* </h1>
			<hr>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2 class="text-center">Uneaten Burgers</h2>
			<ul>
				{{#each burgers}}
					{{#unless this.devoured}}
						<li>
							<h4>{{this.id}}. {{this.burger_name}}
								<form action='burgers/updateOne/{{this.id}}?_method=PUT' method='POST'>
									<input type='hidden' name='devoured' value='true'>
									<button type='submit' class="btn btn-default">EAT THIS!</button>
								</form>
							</h4>
						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-md-4"></div>

		<div class="col-md-4">
			<h2 class="text-muted text-center">Eaten Burgers</h2>
			<ul>
				{{#each burgers}}
					{{#if this.devoured}}
						<li>
							<h4 class="text-muted ate">{{this.id}}. {{this.burger_name}}</h4>
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	<br><br>

	<div class="row">

		<div class="col-md-12 text-center">
			<form class="create-update-form" action="burgers/insertOne" method="POST">
				<div class="form-group">
					<textarea rows="2" cols="50" type="text" name="name"></textarea><br>
					<button class="btn btn-default" type="submit">Submit</button>
					<h4 class="text-center text-uppercase">Enter a burger you want to eat !</h4>
				</div>
			</form>
		</div>

	<!-- end fourth row -->
	</div>

<!-- end bootstrap container -->
</div>